/* LAYOUT */

.footer {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--space-m);
    margin: 0 auto;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;


}


/* COLOR */

.letras {
    color: var(--color-font)!important;
}


/* TEXT */

.footer {
    text-align: center;
}