.form-container form {
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-width: 300px;
}

.labels,
.inputs {
    width: 70%;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}