/* LAYOUT */

.registro-container{
    height: 480px;
}

.registro-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    min-width: 500px;
    /* flex-wrap: wrap; */
    border: none;
    border-radius: 30px;
    margin: 0 auto;
}

.row-home{
    justify-content: space-evenly ;
}

/* COLORES */
.registro-form{
    background-color: var(--color-secondary);
}

.label-home{
    color: white;
}

/* .registro-container{

} */