/* LAYOUT */

.registro-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 250px;
    min-width: 450px;
    border: none;
    border-radius: 30px;
    margin: 0 auto;
    /* margin-top: var(--spacer-xl); */
}

.row-home {
    justify-content: space-evenly;
}

.label-home {
    margin-top: 40px;
    margin-left: 30px;
}


/* COLORES */

.registro-form {
    background-color: var(--color-secondary);
}

.label-home {
    color: white;
}


/* .registro-container{

} */