/* LAYOUT */

.card-login {
    display: flex;
    flex-direction: column;
    height: 600 px;
    min-width: 500px;
    flex-wrap: wrap;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    margin-top: var(--spacer-l);

}

.logo {
    min-width: 110px;
    width: 50%;
}

.form-group {
    width: 70%;
}


/* COLOR */

.card-login {
    background-color: var(--color-three);
}

.title-login {
    color: white;
}

form label {
    color: white;
}

.p-login {
    color: white
}