/* @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body input button {
    font-family: 'Russo One', cursive, Helvetica, sans-serif;
}

.container-login {
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background: #fff;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
}

.content>p {
    font-size: 1.3em;
    line-height: 30px;
    margin-bottom: 10px;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form label {
    font-size: 1.6em;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    color: #444;
    margin-bottom: 8px;
}

.content form input {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 1em;
}

.content button {
    color: #fff;
    background-color: #58B558;
    font-size: 1.2em;
    font-family: 'Russo One', cursive, Helvetica, sans-serif;
}

#logoblanco {
    width: 20%;
} */