@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body button {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* margenes */

.container-inicio {
    margin-top: 5vh;
    padding: 30px;
}


/* layout */

.container-inicio {
    display: flex;
    flex-direction: column;
}


/* estilo */

.container-inicio {
    background: #e0e0e0;
    border-radius: 5px;
}

.container-inicio label {
    font-size: 1.6em!important;
    font-family: 'Alata', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #202020;
    margin-bottom: 8px;
}

#row-home {
    justify-content: space-around;
    align-items: flex-end;
}

#consultar {
    background-color: green;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    cursor: pointer;
}

#consultar:hover {
    /* background-color: #008CBA !important; */
    background-color: #14333D !important;
    color: white;
}

#ci-home {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    height: 45px;
    font-size: 1em;
}


/* #empecemos {
    margin-top: 20px;
    font-size: 1em;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #187000!important;
    width: 100px;
}

#empecemos:hover {
    background-color: #5CB85C !important;
}

.cuadrados {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#status {
    justify-content: center;
    align-items: center;
}

#vector-ok {
    width: 300px;
}

.cards {
    width: 100%;
    display: flex;
    margin: 5px;
    flex-direction: column;
    min-width: 440px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    padding: 20px 50px;
    background-color: #ECECEC;
}

#textos-home {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#title-home {
    font-size: xx-large!important;
    text-align: center;
}

#text-home {
    font-size: x-large!important;
    text-align: center;
}

#text-status {
    font-size: 1.2em!important;
}

@media (min-width: 1000px) {
    #title-home {
        font-size: xx-large!important;
        text-align: start;
    }
    #text-home {
        font-size: x-large!important;
        text-align: start;
    }
} */


/* h5 {
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

p {
    font-family: 'Mitr', sans-serif;
}

#title-home {
    font-size: 48px;
    margin: 10px 30px;
    text-align: left;
    margin-bottom: 30px;
    font-weight: bold;
}

#text-home {
    font-size: 24px;
    margin: 10px 30px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-align: start;
}

#text-status {
    font-family: 'Alata', sans-serif;
    font-size: 1em;
    color: #0F8A0F;
} */