.btn-header {
  margin-right: var(--spacer-l);
}

.btn {
  margin-top: 10px;
}

.btn-form {
  /* min-width: 250px; */
  /* width: 100%; */
}

.btn-inicio {
  fill: white;
}

.btn-registro {
  background-color: #21a675 !important;
}

.svg {
  color: white;
}
