/* LAYOUT */

.content {
    padding-top: var (--spacer-m);
    padding-bottom: var (--spacer-m);
}

.registro-container {
    min-height: 420px;
    margin-top: var(--spacer-l);
}

.row {
    margin-bottom: var(--spacer-m);
    margin-bottom: 5vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: var(--spacer-m);
    margin-bottom: var(--spacer-s);
    /* flex-flow: row column; */
}

/* @media (min-width: 768px) {
    .row-registro {
        flex-direction: column;
    }
} */


/* .container{
  margin-top: 50px;
} */


/* COLORS */

.form-container {
    /* background-color: var(--color-secondary); */
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    background: rgb(112,112,112);
background: radial-gradient(circle, rgba(112,112,112,1) 36%, rgba(108,108,108,1) 100%);
}


/* SVGS */

.svg {
    width: 16px;
    margin-right: 10px;
    color: white;
}