/* LAYOUT */

.card-login {
    display: flex;
    flex-direction: column;
    max-height: 730px!important;
    min-width: 500px;
    flex-wrap: wrap;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    margin-top: var(--spacer-l);
    padding-bottom: var(--spacer-l);
}

.p-login {
    margin-top: var(--spacer-s);
}

.logo {
    min-width: 110px;
    width: 50%;
}

.form-group {
    width: 70%;
}


/* COLOR */

.card-login {
    /* background-color: var(--color-secondary); */
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    background: rgb(112,112,112);
background: radial-gradient(circle, rgba(112,112,112,1) 36%, rgba(108,108,108,1) 100%);
}

.title-login {
    color: white;
}

form label {
    color: white;
}

.p-login {
    color: white
}

.label-login{
    margin-bottom: 10px;
}