@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.footer {
    bottom: 0;
    margin-bottom: 10px;
    background-color: #004134;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-top: 30px;
    padding: 10px;
}

h5 p {
    font-family: 'Russo One', sans-serif;
}

p {
    font-size: 1.2em;
}

h5 {
    font-size: 2.6em;
}