@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0px auto;
    top: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html body #root {
    min-height: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

#vector-ok {
    width: 300px;
}

#logoverde {
    width: 4em;
    margin-right: 100px;
    /* margin-right: 50px; */
}

.btn {
    margin: 40px 10px;
    height: 50px;
    font-size: 1.2em;
    font-family: 'Alata', sans-serif;
    color: #262626;
}

h5 p {
    font-family: 'Russo One', sans-serif;
}

#title-home {
    font-size: 2.4em;
    /* margin: 10px 30px; */
    margin-bottom: 30px;
    font-weight: bold;
}

#text-home {
    font-size: 1.5em;
    /* margin: 10px 30px; */
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-align: start;
}

#text-status {
    font-weight: 500;
    font-family: 'Alata', sans-serif;
    font-size: 1.8em;
}

#logout {
    margin-left: 36px;
    padding: 10px;
    width: 150px;
    color: #fff;
    background-color: #E21111;
    height: 50px;
}

#empecemos {
    margin-left: 50px;
    color: #fff;
    font-size: 16px;
    background-color: #5CB85C;
    height: 50px;
}

#nav-bar {
    /* min-width: 1200px; */
    position: fixed;
    top: 0;
    padding-left: 70px;
    padding-right: 70px;
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    z-index: 999999;
}